.underline {
    position: relative;
}

.underline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    background-color: #fff;
    transition: all .2s ease-in;
}

.underline:hover:after {
    width: 100%;
}
