@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=devanagari,latin-ext');

@font-face {
    font-family: 'segoe';
    src: url('/assets/Segoe UI.ttf');
}

body {
    font-family: Poppins, "Arial", "sans-serif";
}

a,
a:focus{
    outline: none;
}

.underline {
    position: relative;
}

.underline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #fff;
    transition: all .2s ease-in;
}

.underline:hover:after {
    width: 100%;
}

.breadcrumb-item + .breadcrumb-item::before{
    content: '';
    right: 0;
    top: 0;
    height: 9px;
    width: 8px;
    border-top: 1px solid #232323;
    border-right: 1px solid #232323;
    transform: rotate(45deg);
    margin-right: 8px;
}
